[include]
  path = ~/.config/delta/themes/catppuccin/catppuccin.gitconfig


[user]
	name = José Ignacio Correa Moreno
	email = icorream213@gmail.com

[push]
	autoSetupRemote = true

[pull]
	ff = false
	rebase = true

[core]
	autocrlf = input
  pager = delta

[delta]
  navigate = true # use n and N to move between diffs sections
  line-numbers = true
  side-by-side = true
  dark = true
  features = catppuccin-mocha

[interactive]
  diffFilter = delta --color-only

[merge]
  conflicstyle = diff3

[diff]
  colorMoved = default
