*/.DS_STORE
.DS_STORE
/*
!.gitignore

!/zsh
/zsh/private/*
!/zsh/private/init.zsh

!starship.toml

!/nvim

!/idea
!/atuin

!/scripts

# Git configurations
!/git
/git/*
!/git/.gitconfig

!/tmux
/tmux/plugins/*

!/tmuxp

!/iterm2
/iterm2/AppSupport

!Readme.md
!setup.sh

!/lazygit

!/delta
