" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
"
let mapleader=" "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set smartcase

:set relativenumber
:set number

" Turn off sounds
set noeb
set novb
set belloff=all

" Don't use Ex mode, use Q for formatting.
map Q gq

""" Editing and Reloading the Config
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

""" Distraction Free Mode
nnoremap <C-z> :action ToggleDistractionFreeMode<CR>

""" Navigation
nnoremap <C-w>s :action SplitHorizontally<CR>
nnoremap <C-w>v :action SplitVertically<CR>
nnoremap <C-w>q :action Unsplit<CR>

sethandler <C-h> Vim
sethandler <C-j> Vim
sethandler <C-k> Vim
sethandler <C-l> Vim
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

nnoremap <S-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap <leader>nw :action EditSourceInNewWindow<CR>
nnoremap <leader>n :action NextWindow<CR>
nnoremap <leader>q :action CloseContent<CR>
nnoremap <leader>Q :action CloseAllUnmodifiedEditors<CR>

""" Editing source code
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap zC :action CollapseAllRegions<CR>
nnoremap zO :action ExpandAllRegions<CR>

""" Searching and Source Code Navigation
nnoremap <leader>st :action FindInPath<CR>
nnoremap <leader>sa :action GotoAction<CR>
nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>su :action FindUsages<CR>
nnoremap <leader>sh :action CallHierarchy<CR>
nnoremap <leader>ss :action GotoSymbol<CR>
nnoremap <leader>sc :action GotoClass<CR>
nnoremap <leader>sr :action RecentFiles<CR>
nnoremap <leader>sl :action RecentLocations<CR>
nnoremap <leader>sr :action ReplaceInPath<CR>

nnoremap <leader>b :action ShowNavBar<CR>

nnoremap <leader>li :action GotoImplementation<CR>
nnoremap <leader>ld :action GotoDeclaration<CR>
nnoremap <leader>lj :action GotoNextError<CR>
nnoremap <leader>lk :action GotoPreviousError<CR>
nnoremap <leader>lt :action GotoTypeDeclaration<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lf  :action ReformatCode<CR>
nnoremap <leader>lo :action OptimizeImports<CR>

nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rr :action RenameElement<CR>
nnoremap <leader>rf :action RenameFile<CR>

nnoremap <A-h> :action Back<CR>
nnoremap <A-l> :action Forward<CR>

nnoremap <leader>gj :action Diff.NextChange<CR>
nnoremap <leader>gk :action Diff.PrevChange<CR>

""" Tool windows
nnoremap <C-p> :action JumpToLastWindow<CR>
nnoremap <C-x> :action HideAllWindows<CR>

""" Running and Debugging
nnoremap <leader>To :action GotoTest<CR>
nnoremap <leader>Tr :action ContextRun<CR>
nnoremap <leader>Tc :action RunClass<CR>
nnoremap <leader>Ta :action Rerun<CR>
nnoremap <leader>Tf :action RerunFailedTests<CR>
nnoremap <leader>Tb :action ToggleLineBreakpoint<CR>

nmap S <Action>(AceBackwardAction)
nmap s <Action>(AceForwardAction)

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
map <C-n> :NERDTreeToggle<CR>

Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'michaeljsmith/vim-indent-object'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
